.hwtstyle h1 {
	color: #D55256;
	margin: 0px 10px 0px 10px;
	font-size: 40px;
}

.hwtstyle p {
	font-size: 20px;
	text-indent: 20px;
	margin: 0px 10px 20px 10px;
	color: #7f7f7f;
}

hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(213, 82, 86, 0.9);
	margin: 0px 10px 0px 10px;
}

.courseHeading{
	color: #D55256;
	font-size: 40px;
	text-indent: 10px;
	margin-top: 60px;

}

.coursesStyle img{
	max-width: 315px;
	max-height: 150px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.coursesStyle h2{
	color: white;
	margin-bottom: 20px;
	font-size: 35px;

}
.coursesStyle p {
	font-size: 17px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

.wellcourse{
	display: block;
	margin: 10px;
	background:#BD2E32;
	border-radius: 30px;
}

.wellmonthwise {
	display: block;
	margin: 10px;
	border-radius: 15px;
	background:#D55256;

}
.imgaftermonths{
	display: block;
	margin: 30px;
}

.list-categories{
	padding: 10px;
	border: 1px solid #D55256;
	margin: 10px;
	border-radius: 5px;
	display: block;
	-webkit-box-shadow: 6px 6px 15px -4px rgba(213,82,86,1);
	-moz-box-shadow: 6px 6px 15px -4px rgba(213,82,86,1);
	box-shadow: 6px 6px 15px -4px rgba(213,82,86,1);
	margin-bottom: 30px;
	background: white;
	color: #D55256;
	font-size: 20px;

}

.category-selected{
	padding: 10px;
	border: 1px solid #D55256;
	margin: 10px;
	border-radius: 5px;
	display: block;
	-webkit-box-shadow: 6px 6px 15px -4px rgba(213,82,86,1);
	-moz-box-shadow: 6px 6px 15px -4px rgba(213,82,86,1);
	box-shadow: 6px 6px 15px -4px rgba(213,82,86,1);
	margin-bottom: 30px;
	background: #D55256;
	color: white;
	font-size: 20px;
}

.category-description {
	position: absolute;
	z-index: 100;
	top: 70px;
	left: 28px;
	display: block;
	color: white;
	background: #003442;
	font-family: 'Source Sans Pro', sans-serif;
}


.proceed-button{
	text-decoration: none;
	background-color: #D55256;
	color:white;
	margin-top: 10px;
	margin-bottom: 50px;
}

.user-name{
	color: #D55256;
}
.payment-methods-nav li{
	margin-right: 20px;
}
.payment-methods-nav li a:hover, .payment-methods-nav li a:active{
	color: white;
	background: #D55256;
}

.payment-methods-nav{
	margin-bottom: 20px;
	margin-left: 10%;
}

.payment-methods{
	width: 50%;
	border: 1px solid #D55256;
	padding: 20px;
	margin-left: 25%;
	margin-top: 3%;
}

/* when showing the picture */
.ng-hide-remove{
	animation:0.5s flipInX ease;
}

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
		transform: perspective(400px);
		transform: perspective(400px);
	}
}
