<section>
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">
      <div class="row">

        <div align="center">
          <div class="contact-heading">
            <h2>CONTACT US</h2>
          </div>
        </div>
        <div class="col-lg-3 col-lg-offset-2">
          <div class="contact-details">
            <table>
              <tr class="contact-details-heading">
                <td>VANITY CUBE</td>
              </tr>
              <tbody>
              <tr>
                <td class="contact-details-heading2">CALL US</td>
              </tr>
              <tr>
                <td>+91-8010 8010 91</td>
              </tr>
              <tr>
                <td class="contact-details-heading2">
                  OPEN HOURS
                </td>
              </tr>
              <tr>
                <td>
                  Everyday: 9:00 am - 9:00 pm
                </td>
              </tr>
              <tr>
                <td class="contact-details-heading2">
                  REACH US AT
                </td>
              </tr>
              <tr>
                <td>
                  VanityCube <br/>
                  H16/6 <br/>
                  DLF phase 1 <br/>
                  Gurgaon <br/>
                  122002 <br/>

                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
          <form>
            <div class="form-group">
              <table>
                <tr>
                  <td class="contact-input-heading">
                    We would love to hear from you & how can we help you.
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control contact-input" type="text" name="contactUs-name" placeholder="Name" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control contact-input" type="number" pattern="[0-9]{10}" name="contactUs-number" placeholder="Contact Number" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control contact-input" type="email" name="contactUs-email" placeholder="Email Id">
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control contact-input" type="text" name="contactUs-subject" placeholder="Subject">
                  </td>
                </tr>

                <tr>
                  <td>
                    <textarea class="form-control contact-input-textArea" type="text" name="contactUs-message" placeholder="Message"></textarea>
                  </td>
                </tr>

                <tr>
                  <td>
                    <input class="contact-input btn contact-send-btn" type="submit" value="SEND">
                  </td>
                </tr>

              </table>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</section>
