<link rel="stylesheet" type="text/css" href="modules/core/client/css/footer-content-style.css">


<section class="footer-pages">
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">
      <div>
        <div class="faq-heading">
          <h2>FREQUENTLY ASKED QUESTIONS</h2>
          <p>VanityCube is a professional beauty and wellness service – we understand there
            are various type of beauty and wellness services offered in the industry –need some good line here.
          </p>
        </div>

        <div class="col-lg-12">
          <div class="faq-body">
            <h4>Why should I join your course?</h4>
            <ul>
              <li>
                <p>
                  Course delivered by trainers who are specialist in the subject.
                </p>
              </li>
              <li>
                <p>
                  Flexible study modes with realistic course duration.
                </p>
              </li>
              <li>
                <p>
                  Hands on experience.
                </p>
              </li>
              <li>
                <p>
                  Relaxed atmosphere and attention given to each student.
                </p>
              </li>
              <li>
                <p>
                  Advanced curriculum
                </p>
              </li>
              <li>
                <p>
                  Placement assistance
                </p>
              </li>
            </ul>
            <h4>What are the eligibility / minimum qualifications for joining the course?</h4>

            <p>A basic ability to read &amp; write English or Hindi is mandatory.</p>

            <h4>
              How to enrol in the programme?
            </h4>
            <p>
              You can enrol in the programme by just visiting the academy or online form and email/ send it to us. You can also call us on 8010801091.
            </p>
            <h4>
              How do I make the payment?
            </h4>
            <p>
              You can make cash payment or NEFT transfer. Course will commence upon receipt of 100% advance payment.
            </p>
            <h4>
              Is Short Term Courses available?
            </h4>
            <p>
              Yes, you have the option to do the Short Term Course, visit the Course section for more details.
            </p>
            <h4>
              Is there a student accommodation facility?
            </h4>
            <p>
              We do not provide any accommodation but we can definitely recommend / assist with the names of the hostels/ estate agents for PG accommodation etc.
            </p>

            <h4>
              How will I get my certificate?
            </h4>
            <p>
              After the successful completion of course and giving the assigned exams the certificate will be issued.
            </p>
            <h4>
              What is the future after doing the course?
            </h4>
            <ul>
              <li>
                <p>
                  Beauty Therapist
                </p>
              </li>
              <li>
                <p>
                  Beauty Consultant
                </p>
              </li>
              <li>
                <p>
                  Salon Owner
                </p>
              </li>
              <li>
                <p>
                  Salon Manager
                </p>
              </li>
              <li>
                <p>
                  Technical Trainer
                </p>
              </li>
              <li>
                <p>
                  Makeup Artist
                </p>
              </li>
            </ul>
            <h4>
              Why are the courses so much shorter than at colleges of further education?
            </h4>
            <p>
              We provide short, intensive training courses. We work with very small numbers in each training group (maximum 8 students per tutor) to provide a more
              student focused learning environment.
            </p>
            <h4>
              Will I get Job assistance?
            </h4>
            <p>
              The Placement Cell is dedicated to advising students on career options and providing them with the latest information on final placement opportunities. We
              provide 100% job assistance.
            </p>
            <h4>
              Further questions?
            </h4>
            <p>
              If you require any further assistance or have any questions, please feel free to email at reachus@vanitycube.in.
              Our offices are open from Monday to Saturday from 9.00am – 6.00pm. For urgent queries, please call us on 8010801091.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
