<div class="col-sm-12">
  <div class="row">
    <div class="container-fluid">
      <div class="row vdivide" align="center">
        <a class="text-center" ui-sref="faq.home" >FAQ</a>
        <a class="text-center" ui-sref="faq.aboutus" >About Us</a>
        <a class="text-center" ui-sref="faq.contactus" >Contact Us</a>
        <a class="text-center" ui-sref="faq.termsandconditions" >Terms & Conditions</a>
        <a class="text-center" ui-sref="faq.privacypolicy" >Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
