<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: white;">


  <div class="container" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img src="modules/core/client/img/brand/logo.png" id="logoimg">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div id="blockstyle">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" style="font-size: 17px;">Home</a>
          </li>
          <li>
            <a href="training.html" style="font-size: 17px;">Training</a>
          </li>
          <li>
            <a href="examination.html" style="font-size: 17px;">Examination</a>
          </li>
          <li>
            <a href="recruit.html" style="font-size: 17px;">Recruitment</a>
          </li>
          <li style="margin: 10px;margin-right: 3px;">
            <button type="button" class="btn" style="background-color: #D55256;"><a href="SignUp.html" style="text-decoration: none;color: white;">SignUp</a></button>
          </li>
          <li style="margin: 10px;margin-left: 7px;">
            <button type="button" class="btn" data-toggle="modal" data-target="#SignInPopup" style="background-color: #D55256;color:white;">SignIn</button>
          </li>

        </ul>
      </div>



    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

