
<section class="footer-pages">
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">
      <div>
        <div class="faq-heading">
          <h2>VANITYCUBE PRIVACY POLICY</h2>
        </div>

        <div class="col-lg-12">
          <div class="faq-body">



            <h4>
              1.	Information that we collect:
            </h4>

            <p>
              We collect information from you when you register on our site and/or place an order. It is generally basic information that we collect from Users, including but not limited to name, email address, and telephone number.  For users who want to avail services, whether through the website or the Application, VanityCube may collect other information such as login details, password, debit/credit card details (card number, expiration date, CVV, etc.), and address. <br/>
              We may collect information about your desktop or mobile device and internet connection, including the device’s unique device identifier, IP address, operating system, browser type, and for mobile devices certain network information and the device’s telephone number.
            </p>
            <h4>
              2.	How we use the information:
            </h4>

            <p>
              Any of the information we collect from you may be used in one of the following ways:
            </p>
            <ul>
              <li><p>The information that we collect from you helps us to improve the customer service as it helps us respond to your queries and requests more promptly.</p></li>
              <li><p>The information we collect to process transactions or otherwise is not shared with or sold to other organizations for commercial purposes, except (i) as necessary to provide the Services, (ii) when we have your permission, or (iii) when it is necessary to share information in order to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of the Terms, or as otherwise required by law.</p></li>
              <li><p>To personalize your experience as your information helps us to better respond to your needs.</p></li>
              <li><p>We aim to continuously improve our Website and Application therefore it helps us in improving based on the feedback and information we receive from you.</p></li>
              <li><p>To send periodic emails. </p></li>
            </ul>


            <h4>
              3.	How we store and protect your information:
            </h4>

            <p class="answer">
              Safety of your information is pivotal for us therefore we offer the use of a secure server to all our users. All supplied sensitive/credit information is transmitted via Secure technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.
            </p>
            <h4>
              4.	Do we disclose any information to outside parties?
            </h4>

            <p>
              We may disclose personal information that we collect or you provide:
            </p>
            <ul>
              <li><p>To our subsidiaries and affiliates.</p></li>
              <li><p>To contractors, service providers and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</p></li>
              <li><p>To fulfill the purpose for which you provide it.</p></li>
              <li><p>For any other purpose disclosed by us when you provide the information.</p></li>
              <li><p>With your consent. </p></li>
              <li><p>To comply with any court order, law or legal process, including to respond to any government or regulatory request.</p></li>
            </ul>

            <h4>
              5.	Use of cookies:
            </h4>

            <p>
              Cookies are small flies that a site or its service provider transfers to your computer’s hard drive through your web browser (if you allow) that enables the sites or service provider’s systems to recognize your browser and capture certain information.<br>

              We use cookies to help remember and process the items in your shopping cart, understand and save your preference for future visits and compile aggregate data about site traffic and site interaction so that we can offer better experiences and tools in the future.

            </p>
            <h4>
              6.	If we have any queries about our privacy policy, you can write us at
            </h4>

            <p>
              <a href="mailto:reachus@vanitycube.in">reachus@vanitycube.in</a>
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
