<section class="footer-pages">
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">

      <div class="row">
        <div class="tnc-heading">
          <h2>TERMS AND CONDITIONS</h2>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="tnc-body">

            <h4>Eligible Use</h4>

          <p>
            You have to be 18 years of age or older to use the service or application. If you reside in a jurisdiction that restricts the use of the service or
            application because of age, or restricts the ability to enter into contracts such as this one due to age, you must abide by such age limits and you must
            not use the service and the application. You represent that if you are an individual, you are of legal age to enter into a binding contract, or that if you
            are registering on behalf of a legal entity, that you are authorized to enter into, and bind the entity to, these user terms and register for the service
            and the application.
          </p>

          <h4>
            Prices &amp; Payment
          </h4>

          <p>
            Prices vary according to type and duration of treatment as described on the site. Full payment is due upon completion of treatment session. Accepted
            payment methods are as described on the site.
          </p>
          <p>
            By making a booking you agree to provide complete, correct and true information including billing and payment information.
          </p>
          <h4>
            Customer Responsibilities
          </h4>

          <p>
            It is your responsibility to provide accurate information at time of booking. Failure to provide correct information may result in, without liability to
            you, a rejection of booking request, cancellation of booking or an inability of the booked therapist to provide treatment as requested. Such failure may
            also result in loss or incorrect delivery of confirmation of your booking.
          </p>
          <p>
            Once your booking is accepted and confirmed, you will receive a confirmation email/sms of your appointment.
          </p>
          <p>
            By making a booking, you are responsible for:
          </p>
          <ul>
            <li>
              <p>
                Full payment as applicable.
              </p>
            </li>
            <li>
              <p>
                Ensuring therapist has access to your designated premises and suitable space and facilities in which the treatment can be performed, including
                adequate lighting and heating.
              </p>
            </li>
            <li>
              <p>
                Ensuring the health and safety of the therapist whilst at your designated premises<strong>.</strong>
              </p>
            </li>
          </ul>
          <h4>
            Service Quality
          </h4>
          <ul>
            <li>
              <p>
                The quality of a VanityCube professional services is entirely the responsibility of the VanityCube professional who provides such beauty services
                to you. You understand, therefore, that by using the services of a VanityCube professional, you may be exposed to beauty services that are
                potentially dangerous, unsafe or otherwise objectionable, and that your use of the VanityCube member services and booking of a VanityCube
                professional is at your own risk.
              </p>
            </li>
            <li>
              <p>
                You agree that: (a) your home (or other space where our therapists are invited to be) is safe: (b) you will provide a clean workspace with close
                proximity to an electrical outlet.
              </p>
            </li>
            <li>
              <p>
                VanityCube requests background information of its VanityCube professionals, but VanityCube does not and cannot guarantee the accuracy or
                completeness of any such information-gathering or that a particular VanityCube professional is adequately qualified to perform any given service.
              </p>
            </li>
          </ul>
          <h4>
            Rescheduling Appointments &amp; Refund
          </h4>
          <p>
            Any requests to reschedule an appointment to a different time on the same day of the booked appointment time will be accommodated free of charge but
            subject to availability.
          </p>

            <h4>Prohibited Use</h4>

          <p>
            You must not use the site or the services to do any of the following which is strictly prohibited:
          </p>
          <ul>
            <li>
              <p>
                Engage in any inappropriate behavior including but not limited to illicit or sexually suggestive remarks, sexual advances, drug use, excessive
                drinking and/or other inappropriate behavior.
              </p>
            </li>
            <li>
              <p>
                To the extent permitted by applicable law and subject to our VanityCube policy, you acknowledge and agree that we may use certain third-party
                vendors and service providers to process payments.
              </p>
            </li>
            <li>
              <p>
                Restrict or inhibit any other user from using and enjoying the site or services;
              </p>
            </li>
            <li>
              <p>
                Infringe the privacy rights, property rights, or other civil rights of any person;
              </p>
            </li>
            <li>
              <p>
                Harass, abuse, threaten or otherwise infringe or violate the rights of therapists, VanityCube (including its employees and personnel) or others;
              </p>
            </li>
          </ul>
          <h4>
            Modification &amp; Termination
          </h4>

          <p>
            We may modify these terms including fees and charges for services or terminate use of the site or services at any time by giving notice of termination to
            you. We may also change, suspend, terminate or discontinue any aspect of the site or services including availability of certain features at any time for
            any reason.
          </p>

            <h4>Communication</h4>

          <p>
            By providing your data, you agree to be communicated by us via email and sms to facilitate your navigation of and purchasing from the website/app/phone. We
            may communicate promotional offers periodically and as and when required.
          </p>

          <h4>
            Indemnification
          </h4>
          <p>
            By accepting these user terms and using the application or service, you agree that you shall defend, indemnify and hold VanityCube, its affiliates, its
            licensors, and each of their officers, directors, other users, employees, attorneys and agents harmless from and against any and all claims, costs,
            damages, losses, liabilities and expenses (including attorneys' fees and costs) arising out of or in connection with:
          </p>
          <ul>
            <li>
              <p>
                Your violation or breach of any term of these user terms or any applicable law or regulation, whether or not referenced herein;
              </p>
            </li>
            <li>
              <p>
                Your violation of any rights of any third party, including transportation providers arranged via the application, or
              </p>
            </li>
            <li>
              <p>
                Your use or misuse of the application or service.
              </p>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</section>
