<section>
  <div class="page-header">
    <h1>Expert Dashboard</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="experts.profile.show">Expert Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="experts.profile.edit">Edit Profile</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-9">
      <div ui-view></div>
    </div>
  </div>
</section>
