<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Add Material</h3>
</div>
<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group text-center">
        <ul>
          <li ng-repeat="content in vm.material.contents">
            <span>Material {{$index+1}} ({{ content.type }})</span>
          </li>
        </ul>
      </div>
      <div class="form-group text-center" ng-hide="vm.uploader.queue.length">
        <span class="btn btn-default btn-file">
              Select Material <input type="file" nv-file-select uploader="vm.uploader">
        </span>
      </div>
      <div class="form-group text-center" ng-show="vm.uploader.queue.length">
        <button class="btn btn-primary" ng-click="vm.uploadMaterial()">Upload</button>
        <button class="btn btn-default" ng-click="vm.cancelUpload()">Cancel</button>
      </div>
      <div ng-show="vm.success" class="text-center text-success">
        <strong>File Uploaded Successfully</strong>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="vm.closeModal()">Close</button>
</div>
