<link rel="stylesheet" type="text/css" href="modules/categories/client/css/category-pages-styling.css">

<section class="category-description-pages">
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">
      <div class="row">

        <div align="center">
          <div class="category-image">
            <img src="modules/categories/client/img/categories/body.svg"/>
          </div>
          <h2>BODY</h2>
        </div>

        <div class="category brief">

        </div>

      </div>
    </div>
  </div>
</section>
