<section>
  <div class="page-header">
    <h1 ng-bind="vm.category.name"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="admin.categories.edit({ categoryId: vm.category._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.category.created | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.category.description"></p>
  <h3 class="lead" ng-bind="vm.category.price"></h3>
</section>
