<section>
  <div class="page-header">
    <h1 ng-bind="vm.category.name"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="admin.categories.edit({ categoryId: vm.category._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.category.created | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.category.description"></p>
  <h3 class="lead" ng-bind="vm.category.price"></h3>
  <button class="btn btn-primary" ng-click="vm.modalOpen()">Add New Material</button>
  <br><br>
  <div class="row" ng-repeat="week in [1, 2, 3, 4]">
    <button class="btn btn-block" data-toggle="collapse" data-target="#week{{week}}">Week {{week}}</button>
    <hr>
    <div class="collapse" id="week{{week}}" ng-repeat="material in vm.category.materials | filter:{ week: week }:true">
      <h2 ng-bind="material.title"></h2>
    </div>
  </div>
</section>
