<section class="choice-finalisation-modal">
  <div class="modal-header" align="center">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h2>Your Package - {{vm.months}} month<span ng-if="vm.months!=='1'">s</span> Course </h2>
  </div>

  <div class="modal-body">
    <table class = "table table-hover">
      <thead>
      <tr>
        <th>Chosen categories</th>
        <th>Price(in Rs.)</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="category in vm.chosen">
        <td ng-bind="category.name" class="text-capitalize"></td>
        <td ng-bind="category.price"></td>
      </tr>
      </tbody>
    </table>

    <div align="right">
      <p>*For {{vm.months}} month<span ng-if="vm.months!=='1'">s</span> course you get {{vm.discount}}% discount</p>
      <h2 >Your Total : Rs {{vm.cost}} </h2>

    </div>

    <div class="checkbox tncCheckbox" align="center">
      <label><input ng-model="checked" value="" type="checkbox">I agree with the Terms &amp; Conditions.</label>
    </div>

  </div>

  <div class="modal-footer proceed-modal-buttons">
    <button class="btn btn-primary pull-left"  ng-click="vm.resetChoices()">Go back and reset your choices</button>
    <button class="btn btn-primary pull-right" ng-disabled="!checked" ng-click="vm.createUserCourse()">Proceed to Payment</button>
  </div>


</section>
