<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
  <h2>Your Package - {{vm.months}} month<span ng-if="vm.months!=='1'">s</span> Course </h2>
</div>

<div class="modal-body">
  <table class = "table table-hover">
    <thead>
    <tr>
      <th>Chosen categories</th>
      <th>Description</th>
      <th>Price(in Rs.)</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="category in vm.chosen">
      <td ng-bind="category.name"></td>
      <td ng-bind="category.description"></td>
      <td ng-bind="category.price"></td>
    </tr>
    </tbody>
  </table>

  <div align="right">
    <p>*For {{vm.months}} month<span ng-if="vm.months!=='1'">s</span> course you get {{vm.discount}}% discount</p>
    <h2 >Your Total : Rs {{vm.cost}} </h2>

  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" style="float: center;" ng-click="vm.resetChoices()">Reset Choices</button>
  <button class="btn btn-primary" style="float: center;" ng-click="vm.createUserCourse()">Proceed to Payment</button>
</div>

