<link rel="stylesheet" type="text/css" href="modules/training/client/css/trainingstyle.css">
<link rel="stylesheet" type="text/css" href="modules/training/client/css/demovideoplayerstyle.css">




<section>

  <div class="row">

    <div class="hwtstyle">
      <h1 >How We Teach ?</h1>
    <hr/>
      <p>
        A few lines about how we are going to teach in our courses ...(not more than 3)
      </p>
    </div>

    <div class="parentofvp">
    <figure id="video_player">
      <div id="video_container">
        <video controls poster="modules/training/client/img/course1month.jpg">
          <source src="modules/training/client/demovideos/abc1.webm" type="video/webm">
        </video>
      </div>


      <figcaption class="videolinkstyle">
        <a href="modules/training/client/demovideos/abc1.webm" class="currentvid">
          <div>
            <img src="modules/training/client/img/course1month.jpg" alt="Athabasca Glacier">
            <h4>Heading of demo video 1</h4>
            <p>a short description of demo video 1</p>
          </div>
        </a>
        <a href="modules/training/client/demovideos/abc2.webm" >
          <div>
            <img src="modules/training/client/img/course1month.jpg" alt="Athabasca Glacier">
            <h4>Heading of demo video 1</h4>
            <p>a short description of demo video 1</p>
          </div>
        </a>


      </figcaption>
    </figure>
    </div>

    <div >
      <h1 class="courseHeading">COURSES</h1>
    </div>
    <hr/>
    <div class="col-md-4 coursesStyle" ng-repeat="course in vm.courses" style="padding:10px">
      <div class="well wellcourse" ui-sref="training.months({ months: course.months})">

        <h2 align="center" >{{course.months}} Month<span ng-if="course.months!==1">s</span> Course</h2>
        <img src="modules/training/client/img/course{{course.months}}month.jpg" align="center">

        <p class="cousreDescription">
          This course is for {{course.months}} month<span ng-if="course.months!==1">s</span>.
          Out of the given 6 categories, you can learn any {{course.choices}}.This course is for {{course.months}} month<span ng-if="course.months!==1">s</span>.
          Out of the given 6 categories, you can learn any {{course.choices}}.
        </p>
      </div>
    </div>

    </div>


</section>

<script >
  var video_player = document.getElementById("video_player");
  var video = video_player.getElementsByTagName("video")[0];
  var video_links = video_player.getElementsByTagName("figcaption")[0];
  var source = video.getElementsByTagName("source");
  var link_list = [],
    i,
    nextVid,
    index,
    vidDir = "modules/training/client/demovideos/",
    currentVid = 0,
    allLnks = video_links.children,
    lnkNum = allLnks.length;
  video.removeAttribute("controls");
  video.removeAttribute("poster");

  (function() {
    function playVid(index) {
      video_links.children[index].classList.add("currentvid");
      source[0].src = vidDir + link_list[index] + ".webm";
      // source[0].src = vidDir + link_list[index] + ".mp4";
      currentVid = index;
      video.load();
      video.play();
    }


    for (i = 0; i < lnkNum; i++) {
      var filename = allLnks[i].href;
      link_list[i] = filename.match(/([^\/]+)(?=\.\w+$)/)[0];
      (function outsideLoop(index) {
        allLnks[i].onclick = function(i) {
          i.preventDefault();
          for (i = 0; i < lnkNum; i++) {
            allLnks[i].classList.remove("currentvid");
          }
          playVid(index);
        };
      }(i));

    }
    video.addEventListener('ended', function () {
      allLnks[currentVid].classList.remove("currentvid");
      if ((currentVid + 1) >= lnkNum) { nextVid = 0; } else { nextVid = currentVid + 1; }
      playVid(nextVid);
    });

    video.addEventListener('mouseenter', function() {
      video.setAttribute("controls", "true");
    });

    video.addEventListener('mouseleave', function() {
      video.removeAttribute("controls");
    });

    var indexOf = function(needle) {
      if (typeof Array.prototype.indexOf === 'function') {
        indexOf = Array.prototype.indexOf;
      } else {
        indexOf = function(needle) {
          i = -1; index = -1;
          for (i = 0; i < this.length; i++) {
            if (this[i] === needle) {
              index = i;
              break;
            }}
          return index;
        };}
      return indexOf.call(this, needle);
    };
    var focusedLink = document.activeElement;
    index = indexOf.call(allLnks, focusedLink);

  }());

</script>


