<section class="training-terms-and-conditions">
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">

      <div class="row">
        <div class="tnc-heading">
          <h2>TERMS AND CONDITIONS - TRAINING</h2>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="tnc-body">


          <ul>
            <li>
              <p>
                All deposits are non-refundable, unless Vanitycube Mobile Spa &amp; Salon Pvt. Ltd. cancels the course.
              </p>
            </li>
            <li>
              <p>
                The company does NOT allow under any circumstances automatic course transfers. Should you wish to transfer this will be at our discretion,
                availability dependent and charges may apply.
              </p>
            </li>
            <li>
              <p>
                <a name="_GoBack"></a>
                If the candidate requests a deferment/transfer by agreement, the companies refund policy will cease to apply as the candidate will, by this
                agreement, have waived the right to cancel a transferred place. No refunds therefore, will apply under any future circumstances.
              </p>
            </li>
            <li>
              <p>
                Not under any circumstances, will course fees in full or in part be refunded for courses which are started but not completed. The company may
                however, allow completion in the future by prior agreement.
              </p>
            </li>
            <li>
              <p>
                Non-attendance &amp; non-payment prior to the course date, without due cancellation notice, you will be liable for full payment which if not made
                within 5 working days, court action will be taken to recover the payment.
              </p>
            </li>
            <li>
              <p>
                Vanitycube Mobile Spa &amp; Salon Pvt. Ltd. reserves the rights in the design, text, graphics, images and course material, handouts, website,
                prospectus and all other literature are the copyright of Vanitycube Mobile Spa &amp; Salon Pvt. Ltd. Academy and the use of them is not permitted.
              </p>
            </li>
            <li>
              <p>
                Any other use of the academy materials including reproduction for purposes and alteration, modification, distribution or republication is strictly
                prohibited. Anyone found doing so will be prosecuted.
              </p>
            </li>
            <li>
              <p>
                The number of hours that are stated for how long the course will take to complete are provided as a guideline only.
              </p>
            </li>
            <li>
              <p>
                The actual time a course will last for will depend on the class size and the speed at which you learn.
              </p>
            </li>
            <li>
              <p>
                Students are required to pair up and work on each other.
              </p>
            </li>
            <li>
              <p>
                Vanitycube Mobile Spa &amp; Salon Pvt. Ltd. reserves the right to alter course dates, venues, course content, materials, tutors and course
                requirements at any time without liability and without prior notice. In the event of a cancellation where alternative cannot be provided in respect
                of that course a full refund will be offered.
              </p>
            </li>
            <li>
              <p>
                We operate an Equal Opportunities policy as part of our service to provide excellent customer service.
              </p>
            </li>
            <li>
              <p>
                Lost items - Vanitycube Mobile Spa &amp; Salon Pvt. Ltd. takes no responsibilities for any valuables or possessions or vehicles whilst you are on
                our premises.
              </p>
            </li>
            <li>
              <p>
                All students must abide by the Terms and Conditions of Vanitycube Mobile Spa &amp; Salon Pvt. Ltd. at all times.
              </p>
            </li>
            <li>
              <p>
                Failure to comply with Vanitycube Mobile Spa &amp; Salon Pvt. Ltd.'s Terms &amp; Conditions will incur the disciplinary procedure which may result
                in withdrawal from any courses with no refund or exchange options.
              </p>
            </li>
          </ul>
          <p>
            The Academy is committed to delivering quality training provision at all times. If you are dissatisfied with any aspect of the training provision, we would
            like to hear from you. Equally, if you are pleased with any aspect of provision, or have a suggestion for improvement, please do let us know.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
