<link rel="stylesheet" type="text/css" href="modules/training/client/css/trainingstyle.css">
<link rel="stylesheet" type="text/css" href="modules/training/client/css/demovideoplayerstyle.css">
<script src="modules/training/client/scripts/demovideoplayer.js"></script>




<section>
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">
      <div class="row">

        <div class="hwtstyle" align="center">
          <h1 class="text-uppercase" align="center">How We Teach</h1>
          <hr/>
          <p>
            You will be guided through a text material followed by the practical
            session through videos from our experts.A few lines
            about how we are going to teach in our courses ...(not more than 3)
            You will be guided through a text material followed by the practical
            session through videos from our experts.A few lines
            about how we are going to teach in our courses ...(not more than 3)
          </p>
        </div>

        <div class="exemplar">
          <h1 class="text-uppercase">Exemplar</h1>

          <h2 class="text-uppercase">Theory Session-</h2>

          <div class="theory">
            <h2>
              Crystal spa manicure
            </h2>
            <ol>
              <li>
                <p>
                  Sanitize your hand first before starting the Manicure and then sanitize client’s hands.
                </p>
              </li>
              <li>
                <p>
                  Remove all nail polish from the hands with a cotton and nail polish remover.
                </p>
              </li>
              <li>
                <p>
                  Clip the nails. Clip it straight across.
                </p>
              </li>
              <li>
                <p>
                  File the nails to the desired length and shape.
                </p>
                <ul>
                  <li>
                    <p>
                      When filing nails, do not file in zig-zap but rather from the edges going up to the center of the nail.
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <p>
                  Heat Water to make crystal.
                </p>
              </li>
              <li>
                <p>
                  Put Hand &amp; Relaxing Soak pouch in warm water in a bowl.
                </p>
              </li>
              <li>
                <p>
                  Massage with crystal for 5 minutes.
                </p>
              </li>
              <li>
                <p>
                  Put de-crystalizer in remaining crystals and put this in the tub.
                </p>
              </li>
              <li>
                <p>
                  Apply massage cream to all cuticles before you place your hands in water.
                </p>
              </li>
              <li>
                <p>
                  Remove hands from water after 5 min.
                </p>
              </li>
              <li>
                <p>
                  Use pusher to push back cuticles
                </p>
              </li>
              <li>
                <p>
                  Use cuticle remover to remove cuticles
                </p>
              </li>
              <li>
                <p>
                  Use cuticle cutter if required to cut cuticles
                </p>
              </li>
              <li>
                <p>
                  Use exfoliating scrub to massage the hands.
                </p>
              </li>
              <li>
                <p>
                  Use a pumic stone.
                </p>
              </li>
              <li>
                <p>
                  Put hands back in water and clean the scrub.
                </p>
              </li>
              <li>
                <p>
                  Now take out the next foot and repeat step 11-16.
                </p>
              </li>
              <li>
                <p>
                  Take out 1<sup>st</sup> hand Use a mani<sup>cu</sup>re brush on top of the nails for a deeper clean.
                </p>
              </li>
              <li>
                <p>
                  Use a buffer to buff on the surface of the nail for a smoother nail.
                </p>
              </li>
              <li>
                <p>
                  Massage with massage cream.
                </p>
              </li>
              <li>
                <p>
                  Clean hands with moist warm towel.
                </p>
              </li>
              <li>
                <p>
                  Repeat step for next hand 18-21.
                </p>
              </li>
              <li>
                <p>
                  Finally, the application of the nail painting. Use a base coat before applying nail colour to allow nail colour to last longer.
                </p>
              </li>
            </ol>

          </div>

          <h2 class="text-uppercase">Practical Session-</h2>

          <div>
          <figure id="video_player" class="video-player">
              <div id="video_container" class="video-container">
                <!--<video controls poster="modules/training/client/img/course1month.jpg">
                  <source src="https://www.youtube.com/watch?v=z01xRf-yECM" type="video/webm">
                </video>-->
                <iframe width="700" height="400"
                        src="https://www.youtube.com/embed/Cdk-rjeXJl0?list=PLSzZi9yAA2_CbLGf9y-EPnsqVJoVZX5hz"
                        frameborder="0" allowfullscreen>
                </iframe>

              </div>
            <!--<figcaption class="video-link-style">
                <a href="modules/training/client/demovideos/abc1.webm" class="current-vid">
                  <div>
                    <img src="modules/training/client/img/course1month.jpg" alt="Athabasca Glacier">
                    <h4>Heading of demo video 1</h4>
                    <p>a short description of demo video 1</p>
                  </div>
                </a>
                <a href="modules/training/client/demovideos/abc2.webm" >
                  <div>
                    <img src="modules/training/client/img/course1month.jpg" alt="Athabasca Glacier">
                    <h4>Heading of demo video 1</h4>
                    <p>a short description of demo video 1</p>
                  </div>
                </a>
              </figcaption>-->

            </figure>
          </div>
        </div>

        <div class="container-fluid">
          <div class="col-lg-12 full-screen">
            <div class="row">

              <div align="center">
                <h1 class="courseHeading">COURSES WE OFFER</h1>
              </div>
              <hr/>
              <div class="col-md-4 coursesStyle" ng-repeat="course in vm.courses">
                <div class="well well-course" ui-sref="training.months({ months: course.months})" align="center">

                  <h2 align="center" >{{course.months}} Month<span ng-if="course.months!==1">s</span> Course</h2>
                  <img src="modules/training/client/img/course{{course.months}}month.jpg" align="center">

                  <p class="courseDescription">
                    This course is for {{course.months}} month<span ng-if="course.months!==1">s</span>.
                    Out of the given 6 categories, you can learn any {{course.choices}}.This course is for {{course.months}} month<span ng-if="course.months!==1">s</span>.
                    Out of the given 6 categories, you can learn any {{course.choices}}.
                  </p>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>

