<link rel="stylesheet" type="text/css" href="modules/training/client/css/trainingstyle.css">

<section>
  <div class="row well text-center coursesstyle wellmonthwise" align="center">
    <h2 class="text-uppercase">{{vm.months}} month<span ng-if="vm.months!=='1'">s</span> Course </h2>
    <p>You can select any {{vm.choices}} of the given choice of categories to learn from</p>
  </div>

  <div class="imgaftermonths" align="center">
    <img src="modules/training/client/img/course1month.jpg">
    <img src="modules/training/client/img/course3month.jpg">
    <img src="modules/training/client/img/course6month.jpg">
  </div>
  <div class="row">

    <div class="alert alert-danger fade in" ng-if="vm.selectError">
      <a href = "#" class="close" ng-click="vm.selectError = false" aria-label="close">&times;</a>
      <strong> You cannot select more than {{vm.choices}} categor<span ng-if="vm.months!=='1'">ies</span><span ng-if="vm.months=='1'">y</span>.</strong>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6" style="padding: 10px" ng-repeat="category in vm.categories">
      <div class="panel-group">
        <div class="panel panel-info" ng-click="vm.selectCategory(category)" ng-class="{ 'panel-danger': category.check }">
          <div class="panel-heading text-capitalize" ng-bind="category.name"></div>
          <div class="panel-body" ng-bind="category.description"></div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" ui-sref="training.package" >Proceed</button>

</section>

