<link rel="stylesheet" type="text/css" href="modules/training/client/css/trainingstyle.css">

<section>
  <div class="row well text-center coursesStyle wellmonthwise" align="center">
    <h2 class="text-uppercase">{{vm.months}} month<span ng-if="vm.months!=='1'">s</span> Course </h2>
    <p>You can select any {{vm.choices}} of the given choice of categories to learn from</p>
  </div>

  <div class="imgaftermonths" align="center">
    <img src="modules/training/client/img/course1month.jpg">
    <img src="modules/training/client/img/course3month.jpg">
    <img src="modules/training/client/img/course6month.jpg">
  </div>
  <div class="row">

    <div class="alert alert-danger fade in" ng-if="vm.selectError">
      <a href = "#" class="close" ng-click="vm.selectError = false" aria-label="close">&times;</a>
      <strong> You cannot select more than {{vm.choices}} categor<span ng-if="vm.months!=='1'">ies</span><span ng-if="vm.months=='1'">y</span>.</strong>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4 " ng-repeat="category in vm.categories" align="center">

      <div class="list-categories text-capitalize" ng-click="vm.selectCategory(category)"
           ng-class="{ 'category-selected': category.check }"
           ng-bind="category.name"
           ng-mouseover="well.show = true " ng-mouseleave="well.show = false" >
      </div>

      <div class="well category-description text-capitalize"
           ng-bind="category.description"
           ng-show="well.show" > <h3>Description:</h3>
      </div>

    </div>
  </div>

<div align="center">
  <span class="authentication-message" ng-show="vm.authenticationMessage">* You need to sign-in to proceed<br/></span>
  <button type="button" class="btn proceed-button" data-toggle="modal" data-target="#PackageShow"
          style="color:white;" ng-disabled="vm.enableProceed()" ng-click="vm.proceedClicked()">Proceed
  </button>

</div>

</section>
