<section>
  <div class="page-header">
    <h1>Users</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="room in vm.chatRooms" ui-sref-active="active">
          <a ui-sref="experts.chat.user({ userId: room.user._id })" ng-click="vm.changeChatRoom(room)" ng-bind="room.user.displayName"></a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-9">
      <div ui-view></div>
    </div>
  </div>
</section>
