.category-description-pages {
	margin-top: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

.category-image {
	width: 10%;
	background: rgba(250, 250, 250, 0.71);
	outline: #cdcdcd double 6px;
	outline-offset: 2px;
	margin: 0 10px 20px 10px;
}

.category-description-pages h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #d5644f;
}
