.row{
	padding-left: 0 ;
	padding-right: 0;
	margin: 0 auto;
}
.content {
  	margin: 80px 0 0 0;
	padding-bottom: 2px;
	width: 100%;
	padding-left: 0 ;
	padding-right: 0;
}
.full-screen{
	padding-left: 0;
	padding-right: 0;
}
html, body, .container-fluid {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding-left: 0 ;
	padding-right: 0;


}
body > .container-fluid {
	height: auto;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	padding-left: 0 ;
	padding-right: 0;
}


.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.logo-img{
	height: 45px;
	width: 120px;
	margin-top: 0;
}

.social-icon{
	font-size: 14px;
	background: #D55256;
	border: transparent;
}

.navbar-fixed-top {
	min-height: 65px;

}

.navbar-nav > li > a {
	margin: 15px 3px 15px 3px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 40px;
	border-radius: 8px;
	font-size: 15px
}

@media (max-width: 767px) {
	.navbar-nav > li > a {
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;}
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background: #D55256;
}


/*style for footer*/

.panel-footer{
	clear: both;
	position: relative;
	z-index: 10;
	height: 2em;
	margin-top: -2em;
	font: 16px bold Tahoma;
	color: white;
	background: #003442;
}

.panel-footer a{
	margin-right: 10px;
	margin-left: 10px;
	font: 15px bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}
