.box1{
	border:1px solid #D55256;
	margin: 20px 45px 20px 45px;
	border-radius: 10px;
}

.homebox1 p{
	font: 20px bold Tahoma;
	color: #D55256;

}

.divide {
	border-top:13px solid #D55256;
	margin-bottom: 50px ;
}

.expchat{
	margin:20px 0 50px 0;
	padding:40px 10px 40px 10px;
	background: rgba(178, 178, 178, 0.29);
	border: 1px solid #c6c6c6;


}

.expchat h2{
	width: 30%;
	margin: 0 20px 50px 20px;
	font: 40px bold Tahoma ;
	border-bottom: 5px solid #9e9e9e;
	color: #D55256;
}

.expchat p{
	font: 20px bold Arial;
	margin-bottom: 20px;
}
.expchat h3{
	font: 30px bold Tahoma;
	margin:10px;
	margin-top: 20px;
}

.expchat hr{
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px #D55256;
}
.expimg{
	height: 160px;
	width: 160px;
	border:2px solid grey;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}
.carouselfeedback{
background-color: #003442;
color: white;
margin:70px 0px 70px 0px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
	  -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

#feedbackbtn{
	margin:20px;
}

#myCarousel{
	max-height: 450px;
	overflow: hidden;
}
